<nav class="navbar navbar-default" role="navigation" ng-controller="convertCtrl" >
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-hand-up"></span> Convert Orders</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/" ><span class="glyphicon glyphicon-user"></span> HOME</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" ng-controller="convertCtrl" >

    <div class="jumbotron">
        <lable>About</lable>
        <p>
        <h2><span class="text-primary">Convert Orders</span> will use <span class="text-info">csv files</span> to create fix messages.</h2>
        </p>
        <p>At the moment the application is being developed to parse csv and sent a fix new order message to a fix port in UAT/QA.</p>
    </div>

</div>
